body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $dark-shade;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &:first-child {
    margin-top: 80px;
  }
}

.flex-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
